@charset "UTF-8";

/* Initialize */

body,form,fieldset{margin:0; padding:0;}
fieldset{border:none;}
h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,dl,dt,dd{margin:0; padding:0;}
li{list-style:none;}

html,body{height:100%;}

body{line-height:150%;font-size:78%;color:#333333;}

/* base layout */

body div#header{width:920px;padding:22px 15px 0 15px;}
body div#container{width:950px;text-align:left; border:1px solid #cccccc; border-top:7px solid #31c350;margin-left:auto;margin-right:auto;font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";}
body div#footer{width:950px;border-top:1px solid #cccccc;background:#f8f8f8;}

div#content{width:920px;padding:10px 15px;}

/* layout */

div.right{float:right;}
div.left{float:left;}

/* common tags */

br.clear{clear:both;line-height:1px;}
div.error{border:1px solid red;padding:10px;color:red;margin:10px 0;}

/* header */
ul#submenu{width:342px; float:right; margin-top:1px;}
ul#submenu li{float:right; font-size:10pt; margin-left:5px;}
ul#submenu li a{color:#444444; background:url(/img/user/separator.gif) no-repeat left; padding-left:10px;}
ul#submenu li a:hover{color:#FF6600;}
ul#submenu li#menu_end a{background:none;}

ul#breadcrumb li{font-size:10pt; float:left;}
ul#breadcrumb li a{color:#3399cc; background:url(/img/user/breadcrumb_arrow.gif) no-repeat right; margin-right:5px; padding-right:10px;}
ul#breadcrumb li a:hover{color:#3366CC;}

p#title{width:200px;float:left;}
p#title a img{border:0;}

h1{float:right; color:#00911f; font-size:100%;}
p#lastupdate{text-align:right;color:#ffa200;font-weight:bold;font-size:9pt;}

ul#mainmenu{background:url(/img/user/mainmenu_bg.gif) no-repeat; width:910px; height:28px; padding-left:10px; margin-top:18px;}
ul#mainmenu li{float:left;}
ul#mainmenu li img{border:0;}

/*
ul#mainmenu li#mainmenu_home a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_useinfo a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_tokoton24 a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_list a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_knowledge a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_faq a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_inquiry a{width:150px;height:28px;}

ul#mainmenu li#mainmenu_home a:hover{width:150px;height:28px;}
ul#mainmenu li#mainmenu_useinfo a:hover{width:150px;height:28px;}
ul#mainmenu li#mainmenu_tokoton24 a:hover{width:150px;height:28px;}
ul#mainmenu li#mainmenu_list a:hover{width:150px;height:28px;}
ul#mainmenu li#mainmenu_knowledge a:hover{width:150px;height:28px;}
ul#mainmenu li#mainmenu_faq a:hover{width:150px;height:28px;}
ul#mainmenu li#mainmenu_inquiry a:hover{width:150px;height:28px;}

ul#mainmenu li#mainmenu_home_act a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_useinfo_act a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_tokoton24_act a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_list_act a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_knowledge_act a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_faq_act a{width:150px;height:28px;}
ul#mainmenu li#mainmenu_inquiry_act a{width:150px;height:28px;}
*/

ul#mainmenu li#mainmenu_home a{display:block;background:url(/img/user/mainmenu_home.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_useinfo a{display:block;background:url(/img/user/mainmenu_useinfo.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_tokoton24 a{display:block;background:url(/img/user/mainmenu_tokoton24.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_list a{display:block;background:url(/img/user/mainmenu_list.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_knowledge a{display:block;background:url(/img/user/mainmenu_knowledge.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_faq a{display:block;background:url(/img/user/mainmenu_faq.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_inquiry a{display:block;background:url(/img/user/mainmenu_inquiry.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}

ul#mainmenu li#mainmenu_home a:hover{display:block;background:url(/img/user/mainmenu_home.gif) no-repeat bottom;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_useinfo a:hover{display:block;background:url(/img/user/mainmenu_useinfo.gif) no-repeat bottom;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_tokoton24 a:hover{display:block;background:url(/img/user/mainmenu_tokoton24.gif) no-repeat bottom;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_list a:hover{display:block;background:url(/img/user/mainmenu_list.gif) no-repeat bottom;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_knowledge a:hover{display:block;background:url(/img/user/mainmenu_knowledge.gif) no-repeat bottom;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_faq a:hover{display:block;background:url(/img/user/mainmenu_faq.gif) no-repeat bottom;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_inquiry a:hover{display:block;background:url(/img/user/mainmenu_inquiry.gif) no-repeat bottom;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}

ul#mainmenu li#mainmenu_home_act a{display:block;background:url(/img/user/mainmenu_home_act.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_useinfo_act a{display:block;background:url(/img/user/mainmenu_useinfo_act.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_tokoton24_act a{display:block;background:url(/img/user/mainmenu_tokoton24_act.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_list_act a{display:block;background:url(/img/user/mainmenu_list_act.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_knowledge_act a{display:block;background:url(/img/user/mainmenu_knowledge_act.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_faq_act a{display:block;background:url(/img/user/mainmenu_faq_act.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}
ul#mainmenu li#mainmenu_inquiry_act a{display:block;background:url(/img/user/mainmenu_inquiry_act.gif) no-repeat;width:150px;height:28px;text-indent:-9999px;overflow:hidden;}


/* footer */
div#footer ul#footer_menu{padding:10px 0 0 15px; float:left;}
div#footer ul#footer_menu li{float:left;margin-right:5px;}
ul#footer_menu li a{padding-right:10px; background:url(/img/user/separator.gif) no-repeat right; color:#666666;}
ul#footer_menu li a:hover{color:#FF6600;}
div#footer ul#footer_menu li#menu_end_footer a{background:none;}

p#copyright{text-align:right;padding:10px 15px 10px 0;font-family:Arial, Helvetica, sans-serif;}
p#pagetop a{color:#686868; float:right; background:url(/img/user/btn_pagetop.gif) no-repeat;width:92px;height:19px;text-indent:-9999px;overflow:hidden;}
 
 /* footer PマークとSSL */
.pMarkSsl {	width: 100%;overflow: hidden;margin: 2% 4% 2% 4%;}
.pMarkSsl dt {float: left; width: 100px;}
.sslBox {width: 130px !important; height: 65px !important;}
.pMarkSsl dd {float: left; width: 620px; padding: 10px 0 0 20px; font-size: 11.5px;}
#ssl_Area {height: 60px;}