div#content_left{float:left;width:320px; padding-top:5px;}
div#content_right{float:right;width:575px; padding-top:5px;}

h2#knowledge{padding:20px 0;}

div#knowledge_box{width:920px; margin-left:auto; margin-right:auto; color:#333333;}

p#desc{padding:5px 5px 0px 5px;}
/*h5#knowledge_title1{padding-bottom:15px;}
h5#knowledge_title2{padding-bottom:15px;}
h5#knowledge_title3{padding-bottom:15px;}
h5#knowledge_title4{padding-bottom:15px;}*/

div#content_right dt{width:557px; padding:10px 9px; color:#137f00; font-size:140%; font-weight:bold; background:#efffd8; border:1px solid #80ad76; border-bottom:none;}
div#content_right dd{font-size: 14px; line-height: 25px;}
div#content_right dd{width:557px; padding:10px 9px; border:1px solid #80ad76; border-top:none; margin-bottom:15px;}
div#content_right dd strong{color:#ff0000;}
div#content_right dd span{color:#ff0000; font-weight:bold;}
p.imgtitle{float:left; text-align:center; padding:45px 15px 0 15px;}
div#content_right dd img.border{float:left; margin-top:15px; border:1px solid #dddddd;margin-right: 1px;}
div#content_right dd p.knowledge2_dd{float:left; width:365px;}
div#content_right dd p.knowledge2_dd1{float:left; width:425px;}
div#content_right dd p.knowledge2_dd2{float:left; width:400px;}
div#content_right dd img.knowledge2_img{float:right; margin:0 10px 10px; border:none;}
div#content_right dd#present_de_otoku{text-align:center;padding:0px 9px 10px 9px;}
div#content_right dd#present_de_otoku p{text-align:left;padding:10px 0px 5px 25px;}
div#content_right dd#present_de_otoku img#btn_presentsearch{margin-top:10px;}

div#content_right ul li{margin-bottom:4px;}

h5#onesbrain{text-align:center;}
div#onesbrain_box{
	width:300px;
	padding:10px 8px;
	background:#ffefd8;
	border:1px solid #d19c8e;
	border-top:none;
	margin: 0 auto;
	margin-bottom: 10px;}
div#onesbrain_box dt{color:#a22f10; font-weight:bold; padding-bottom:10px;}

ul.exsample{width:490px;background:#FFCC00;padding:10px;border:1px solid #CC9900;height:85px;}
ul.exsample li{display:block;width:150px;height:30px;line-height:30px;float:left;background:white;border:1px solid #CC9900;margin:5px;text-align:center;color:#FF6600;font-weight:bold;}

#iroha_link{
	width:575px;
	text-align:center;
	padding-bottom:20px;
}
.search_link_button{
    border-radius: 5px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.1);
    background: #fc821f;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    display: block; 
}
.search_link_button:hover{
 /*box-shadow: none;
 margin-top: 3px;
 margin-bottom: -3px;*/
}
.button-wrap:hover{
  padding-top:3px;
  margin-bottom:-3px; 
}
.button-wrap:hover .search_link_button{
  box-shadow:none;
}

/*========20200428修正start========*/
h5#knowledge_title{
    border: 1px solid #80ad76;
    margin-bottom: 15px;
    padding: 8px 1px 8px 8px;
    background: url(../../img/user/knowledge/h5_knowledge_bg.gif) no-repeat -3px 0;
    height: 36px;
    box-sizing: border-box;
    -moz-box-shadow: border-box;
    -webkit-box-shadow: border-box;
    -o-box-shadow: border-box;
    -ms-box-shadow: border-box;
}

h5#knowledge_title .ttl1{
    color: #fcff00;
    font-size: 1.2em;
    width: 105px;
    float: left;
}
h5#knowledge_title .ttl1 span{
    font-size: 1.6em;
}
h5#knowledge_title .ttl2{
    color: #167001;
    font-size: 1.9em;
}
.knowledge_menu li a:hover,
.knowledge_menu li .active{
    background-color: #ecffe7;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
    -o-box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
    -ms-box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
}
.knowledge_menu li a{
    display: block;
    margin-bottom: 8px;
    color: #167001;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #80ad76;
    font-size: 14px;
    clear: both;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 3px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 3px 2px rgba(0,0,0,0.1);
    -o-box-shadow: 2px 3px 2px rgba(0,0,0,0.1);
    -ms-box-shadow: 2px 3px 2px rgba(0,0,0,0.1);
    background: url(../../img/user/knowledge/btn_iroha_arrow.png) no-repeat 99% 90%;
}
.knowledge_menu li .iroha{
    background-color: #a6ff90;
    padding: 4px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    font-size: 12px;
    letter-spacing: -1.2px;
    display: block;
    float: left;
}
.knowledge_menu li .iroha_ttl{
    display: block;
    width: 225px;
    float: right;
    padding: 4px 0px 4px 4px;
    letter-spacing: -0.2px;
}
.clearfix::after {
   content: "";
   display: block;
   clear: both;
}
.clear{clear: both;}
/*========20200428修正end========*/
/*========20200507修正start========*/
div#content_right dd span.sub{color:#0099ff; font-weight:bold;}
/*========20200507修正end========*/

