h2#result{background:url(/img/user/result/header_pagetitle.gif) no-repeat center center; width:97px; height:20px; text-indent:-9999px; overflow:hidden; padding:20px 0;}
h1#searchword{text-align:left; font-weight:bold; font-size:24px; float:left; margin-left: 23px;}

h2#searchword{text-align:left; font-weight:normal; font-size:12px;}

/*パネル下リンク */
div#post{width:100%; margin-bottom:10px;}
div#post h2{height:12px; line-height:normal; font-size:12px; font-weight:normal; color:#333;}
ul#link{margin:5px 0 0; overflow:hidden;}
ul#link li{float:left; width:5em; margin:0 0 0.3em; font-size:0.9em;}
ul#link li a{color:#333; text-decoration:none;}


td.bold{font-weight:bold;}

/* 検索オプション */
table#area{width:100%;border:1px solid #cccccc; margin-bottom:10px; background:#f8f8f8;}
table#area td{padding:7px;}
td.search_label{font-weight:bold;color:#77a400;}
input#change{margin-left:5px;}

table#condition{width:100%;border:1px solid #cfcfcf;background:#f8f8f8;}
table#condition td{padding:7px;}
table#condition td.checkbox{padding:0 7px;}
td#search_type_district{font-weight:bold; color:#4e9c55;width:110px;}
td#search_type_keyword{font-weight:bold; color:#4e839c;width:150px;}
td#search_type_option{font-weight:bold; color:#9c4e85;width:120px;}
td.search_btn{text-align:center; border-top:1px solid #cfcfcf;}
input#btn_search{width:150px; height:30px; margin:5px 0;}

p#option_detail{float:right; margin:5px 5px 30px 0;}
p#option_detail a{color:#9c4e85;}
p#option_detail a:hover{text-decoration:none;}


p#option_detail2{margin-right:20px;}
p#option_detail2 a{color:#9c4e85;}
p#option_detail2 a:hover{text-decoration:none;}


/* ソート */
div#sort{background:#eff7d5; padding:10px; border:1px solid #b5da42;}
strong{color:#77a400; font-weight:bold;}

/* 該当件数 */
div#corresponding_number{float:left; padding:10px 0;}
span.orange{color:#FF9900; font-weight:bold;}

/* ページ数 */
div#page{float:right; padding:15px 5px;}
div#page_bottom{text-align:center;}

/* ヘッダー */
div.shopheader{background:#63bc22; padding:5px; border:1px solid #4a8f1a; color:#fed700; height:40px; clear:both;}
p.shopname{float:left;}
p.shopname a{color:#ffffff; font-weight:bold; text-decoration:underline;}
p.shopname a:hover{text-decoration:none;}
p.shopnumber{float:right; font-weight:bold; color:#ffffff;}
span.bold{font-weight:bold; color:#ffffff;}

/* オプション */
div.iconlist{border:1px solid #4a8f1a; border-top:none; padding:5px; clear:both;}
div.iconlist img{margin-right:5px; margin-top:3px;}

/* 紹介部分 */
div.intro{width:888px;border:1px solid #4a8f1a; border-top:none; padding:20px 15px 5px 15px; margin-top:-1px; margin-bottom:15px;}
div.intro_main{width:650px; float:left;}
img.shoppic{width:200px; height:140px; border:#999999 1px solid;  float:right; margin:0 0 15px 0;}
p.catch{padding-bottom:13px;color:#008aab; font-weight:bold; font-size:110%; float:left; width:420px;}
p.intro{width:420px; padding-bottom:15px;}

/* お得情報 */
div.otoku{float:right; padding-left:10px;}
h5.campaign_header{color:#da4900;padding:5px; border:1px solid #ffa173; width:200px; background:#ffcdb5; font-size:100%;}
div.campaign_box{width:196px; border:1px solid #ffa173; border-top:none; color:#da4900; padding:7px;}
h6.campaign_title{font-size:100%;}
p.campaign_desc{color:#666666; font-size:90%; line-height:130%; padding:6px 2px;}
p.campaign_period{color:#666666; font-weight:bold; font-size:90%;}

h5.service_header{color:#e46000;padding:5px; border:1px solid #ffa95d; width:200px; background:#ffd564; font-size:100%; margin-top:15px;}
div.service_box{width:200px; border:1px solid #ffa95d; border-top:none; padding:5px;}
ul.service_title li{font-weight:bold; padding:5px; margin:5px 5px; background:#fff3b3; color:#9d7c5e; border:1px solid #f1e18b;}

/* 車検 */
h5.recommend_plan{background:url(/img/user/result/recommend_plan_title.gif) no-repeat; width:204px; height:32px; text-indent:-9999px; overflow:hidden;}
h6.recommend_plan_name{font-weight:bold; font-size:110%; padding:5px; border:1px solid #a3cd4c; border-bottom:none; background:#e8f9b8;color:#398800;}
table.price{border-top:1px solid #a3cd4c; border-left:1px solid #a3cd4c; line-height:130%; width:100%; text-align:center;}
table.price td{border-right:1px solid #a3cd4c; border-bottom:1px solid #a3cd4c; padding:4px;}
table.price td.label{background:#f2f9df;}
table.price td.recommend{background:#f3f3f3; font-weight:bold;}
span.discountprice{color:#FF9900;}

/* 店舗データ */
div.shopdata{padding-top:10px;margin-bottom:5px;}
p.shopdata{margin:10px 10px 0 0; float:left; width:650px;}
p.btn_detail a{background:url(/img/user/result/btn_detail.gif) no-repeat; width:212px; height:52px; text-indent:-9999px; overflow:hidden; float:right; margin-top:15px;}
p.btn_detail a:hover{background:url(/img/user/result/btn_detail.gif) no-repeat bottom;}



/* 新デザイン */

div#newsort{height:18px; background:#eff7d5; padding:10px; border:1px solid #b5da42;}
div#search_result{float:left;}
div#newpage{float:right;}

div.wrappar{min-height:320px; border:1px solid #4a8f1a; background:#FFF; padding:5px; margin-bottom:20px;}
img.newshoppic{width:200px; height:140px; border:#999999 1px solid;  float:left; margin:0 10px 15px 0;}

div.shopinfo{float:left; width:690px; min-height:140px; border:1px solid #4a8f1a; border-left:none; border-right:none; background:url(/img/user/search_top/shopinfo_bg.jpg); margin-bottom:15px; }
div.shopinfo_left{float:left; width:435px;}
div.shopinfo_right{float:right; width:240px; margin-right:5px;}

p.newshopname{ float:left; color:#008aab; font-weight:bold; font-size:125%; padding:10px 0 5px 0;}
p.newshopnumber{float:right; font-weight:bold; color:#4a8f1a;}
p.shopadress{clear:both;}
div.shopinfo_left img{padding-top:5px;}

p#option_detail3{clear:both;}
p#option_detail3 a{color:#9c4e85;}
p#option_detail3 a:hover{text-decoration:none;}

div.shopcampaign{float:left; width:49%;}
p.newcatch{color:#008aab; font-weight:bold; font-size:110%;}
p.newintro{padding-top:5px;}

div.shopprice{float:left; width:50%; margin-left:1%;}

table.newprice{border-top:1px solid #a3cd4c; border-left:1px solid #a3cd4c; line-height:130%; width:98%; text-align:center;}
table.newprice td{border-right:1px solid #a3cd4c; border-bottom:1px solid #a3cd4c; padding:4px;}
table.newprice td.label{background:#f2f9df;}
table.newprice td.recommend{background:#f3f3f3; font-weight:bold;}
span.red{color:#FF0000; font-weight:bold;}

p.shop_btn{margin-top:10px;}
p.shop_btn a{background:url(/img/user/search_top/shop_btn2.jpg) no-repeat; width:454px; height:84px; display:block; text-indent:-9999px; overflow:hidden;}
p.shop_btn a:hover{background:url(/img/user/search_top/shop_btn2_mo.jpg) no-repeat bottom; width:454px; height:84px;}