@charset "UTF-8";
/* CSS Document */

/*
基本サイズ14px
10px = 72%
11px = 79%
12px = 86%
13px = 92%
14px = 100%
15px = 108%
16px = 115%
17px = 122%
18px = 129%
19px = 136%
20px = 143%
21px = 150%
22px = 158%
23px = 165%
24px = 172%
25px = 179%
26px = 	186%
*/

/* common
------------------*/
body {
	font-size: 14px;
	line-height: 1.6;
}

.gFont {
	font-family: 'Old Standard TT', serif !important;
}

body, fieldset, form {
	margin:0;
	padding:0;
}
fieldset {
	border:none;
}
blockquote, dd, dl, dt, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
	margin:0;
	padding:0;
}
li {
	list-style:none;
}

/* wrapper
------------------*/
#lightCar_wrapper,
#prius_wrapper{
	width: 100%;
	overflow: hidden;
	position: relative;
}

/* cntsPnt
------------------*/
/*prius*/
#prius_wrapper #cntsKnack ul li{border: 8px solid #ED010C;}
#prius_wrapper #cntsKnack ul li p.number{background: #ED010C;}
#prius_wrapper #cntsKnack ul li h5 {color: #ED010C;}


.bold{
	font-weight:bold;
}


/*=======================
pc
=======================*/
@media screen and (min-width:668px){
.sp {
	display: none !important;
}
.sp_br{display:none;}
#header_sp,
#header_sp div {
	display: none;
}

body, html {
	height:100%;
}
body {
	line-height:150%;
	font-size:78%;
	color:#333;
}
/*
h1 {
	font-size: 12.48px !important;
	line-height: 150%;
}
*/

.btn {
	font-size: 120%;
}


/* mVisual
------------------*/
#mVisual {
	width: 100%;
	height: 438px;
	margin: 0 auto 50px auto;
	background: #fff url(../images/ttlBg.png) repeat-x 0 50%;
	text-align: center;
}

#mVisual h2 {
	width: 750px;
	margin: 0 auto 15px auto;
	padding: 35px 0 4px 0;
	border-bottom: 2px solid #000;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

#mVisual h2 span a {
	display: inline-block;
	margin: 0 0 0 10px;
}

#mVisual p {
	margin: 0 auto 6px auto;
}

#h3slct {
	font-size: 186%;
	text-align: center;
	font-weight: 100;
	margin: 0 auto 50px auto;
}

#h3slct span {
	font-weight: 900;
}

/* cntsCost
------------------*/
#cntsCost {
	width: 730px;
	margin: 0 auto 50px auto;
	padding: 0;
	overflow: hidden;
	color: #000;
}

#cntsCost h4 {
	font-size: 158%;
	margin: 0 auto 20px auto;
	padding: 0;
	text-align: center;
}

#cntsCost p {
	width: 100%;
	text-indent: 1em;
	text-align: justify;
	text-justify: inter-ideograph;
	word-break: break-all;
	font-size: 114%;
	line-height: 1.8;
	margin: 0 0 0.5em 0;
}

.sTxt {
	font-size: 100% !important;
}

#cntsCost table {
	width: 530px;
	margin: 0 auto 20px auto;
	padding: 0;
	text-align: center;
}

#cntsCost table th {
	font-weight: normal;
	background-color: #4d4d4d;
	color: #fff;
	font-size: 115%;
	padding: 4px 0;
}

#cntsCost table td {
	color: #000;
	font-size: 115%;
	padding: 4px 0;
}

#cntsCost table td span {
	font-size: 86%;
}

#cntsCost table td.total {
	font-size: 143%;
	font-weight: bold;
}

#cntsCost .inshiTbl th {
	width: 50%;
}


/* cntsKnack
------------------*/
#cntsKnack {
	width: 412px;
	margin: 0 auto 50px auto;
}

#cntsKnack h4 {
	font-size: 158%;
	color: #000;
	margin: 0 auto 15px auto;
	text-align: center;
}

#cntsKnack ul {
	width: 100%;
	overflow: hidden;
}

#cntsKnack ul li{
	margin: 0 auto 20px auto;
	border: 8px solid #6b1685;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	position: relative;
	padding: 20px;
}

#cntsKnack ul li p.number{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 186%;
	background: #6b1685;
	color: #fff;
	text-align: center;
	padding: 0.2em 0.3em;
	font-family: 'Old Standard TT', serif !important;
} 

#cntsKnack ul li h5{
	font-size: 138%;
	color: #6b1685;
	margin: 0 0 10px 0;
	padding: 0;
}

#cntsKnack ul li p.nmrTxt {
	font-size: 100%;
	line-height: 1.9;
	text-indent: 1em;
	text-align: justify;
	text-justify: inter-ideograph;
	word-break: break-all;
}

/* cntsPnt
------------------*/
#cntsPnt {
	width: 100%;
	overflow: hidden;
	margin: 0 auto 50px auto;
	padding: 0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

#cntsPnt h4 {
	font-size: 158%;
	margin: 0 auto 20px auto;
	padding: 0;
	text-align: center;
}

#cntsPnt ul {
	width: 100%;
	overflow: hidden;
	/*border-bottom: 30px solid #ccc;*/
}

#cntsPnt ul li {
	width: 100%;
	margin: 0;
	position: relative;
}

#cntsPnt ul li.odd {
	background-color: #ccc;
	padding: 30px 0;
	position:relative;
}

#cntsPnt ul li.odd span,
#cntsPnt ul li.even span {
	display: block;
	position: absolute;
	font-size: 500%;
}

#cntsPnt ul li.odd span {
	right: 0;
	bottom: 11px;
	color: #fff;
}

#cntsPnt ul li div {
	width: 700px;
	background-color: #fff;
	margin: 0 auto;
	padding: 30px 0;
}

#cntsPnt ul li div h5 {
	font-size: 115%;
	margin: 0 auto 10px auto;
	text-align: center;
}

#cntsPnt ul li div p {
	padding: 0 50px;
	font-size: 100%;
	line-height:1.9;
	color: #000;
	text-indent: 1em;
	text-align: justify;
	text-justify: inter-ideograph;
}

#cntsPnt ul li.even {
	width: 100%;
	background-color: #fff;
	position:relative;
}
#cntsPnt ul li.even:last-child{
	border-bottom: 30px solid #ccc;
}

#cntsPnt ul li.even span {
	left: 0;
	bottom: 11px;
	color: #ccc;
}

#cntsPnt h2 {
	text-align: center;
	margin: 30px auto;
	background: url(../images/arrowDown.png) no-repeat 50% 90%;
	font-size: 185%;
	color: #FFF;
	padding: 40px 0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

/* areaSelect
------------------*/
#areaSelect {
	width: 752px;
	margin: 0 auto 50px auto;
	padding: 0;
	overflow: hidden;
}

#areaSelect h4 {
	font-size: 158%;
	margin: 0 auto 15px auto;
}

#areaSelect h4:before {
	content:url(../images/icon_jpMap.png);
	width: 22px;
	margin: 0 5px 0 0;
}

#areaSelect dl {
	width: 100%;
	overflow: hidden;
	margin: 0 0 20px 0;
}

#areaSelect dt {
	clear: both;
	float: left;
	background: url(../images/areaNameBg.png) no-repeat 0 0;
	width: 112px;
	height: 32px;
	font-size: 100%;
	text-align: center;
	padding: 0 10px 0 0;
	line-height: 32px;
	color: #fff;
	margin: 0 0 5px 0;
}

#areaSelect dd {
	float: left;
	width: 4em;
	text-align: center;
	margin: 0 5px 0 0;
	border: 1px solid #4d4d4d;
	line-height: 30px;
	font-weight: normal;
}

#areaSelect dd a {
	display: block;
	text-decoration: none;
	color: #4d4d4d;
	background: #fff;
}

#areaSelect dd a:hover {
	color: #fff;
	background: #595959;
	-webkit-transition: 0.3s ease-in-out;  
       -moz-transition: 0.3s ease-in-out;  
         -o-transition: 0.3s ease-in-out;  
            transition: 0.3s ease-in-out; 
}

#areaSelect ul {
	width: 100%;
	overflow: hidden;
}

#areaSelect ul li {
	float: left;
	margin: 0 0 0 10px;
}

#areaSelect ul li:first-child {
	margin: 0;
}


/* drawer
------------------*/
.drawer-menu {
	width: 90%;
	float: right;
	text-align: left;
	padding: 20px 0 !important;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.drawer-menu p {
	width: 100%;
	overflow: hidden;
	font-size: 115%;
	line-height: 1.2;
}
.drawer-menu p img {
	float: left;
	margin: 0 10px 0 0;
	line-height: 1.3;
}
.drawer-menu ul {
	margin: 20px 0 0 0;
	overflow: hidden;
}

.drawer-menu ul li {
	width: 100%;
	border-bottom: 1px solid #000000;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	margin: 0 0 15px 0;
	padding: 0 0 3px 0;
}

.drawer-menu ul li:before {
	content:url(../images/arrow_02.png);
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0 0 3px 0;
}

.drawer-menu ul li img {
	vertical-align: bottom;
	margin: 0 0 0 10px;
	text-align: right;
}

.drawer-menu ul li a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

.drawer-menu ul li a:hover {
	text-decoration: underline;
}

.drawer-menu ul li a span {
	font-size: 86%;
}

/*----------------------------------------------------*/
/*-------------------commoncssより--------------------*/
/*----------------------------------------------------*/
body div#header {
    padding: 22px 50px 0;
    min-width: 920px;
}
body div#container {
	width:100%;
	text-align:left;
	border:1px solid #ccc;
	border-top:7px solid #31c350;
	margin-left:auto;
	margin-right:auto;
	font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
body div#footer {
	width:100%;
	border-top:1px solid #ccc;
	background:#f8f8f8;
}
div#content {
	width:920px;
	padding:10px 15px;
    margin-left: auto;
    margin-right: auto;
}
div.right {
	float:right;
}
div.left {
	float:left;
}
br.clear {
	clear:both;
	line-height:1px;
}
div.error {
	border:1px solid red;
	padding:10px;
	color:red;
	margin:10px 0;
}
ul#submenu {
	width:542px;
	float:right;
	margin-top:1px;
}
ul#submenu li {
	float:right;
	font-size:10pt;
	margin-left:5px;
}
ul#submenu li a {
	color:#444;
	background:url(/img/user/separator.gif) left no-repeat;
	padding-left:10px;
}
ul#submenu li a:hover {
	color:#F60;
}
ul#submenu li#menu_end a {
	background:0 0;
}
ul#breadcrumb li {
	font-size:10pt;
	float:left;
}
ul#breadcrumb li a {
	color:#39c;
	background:url(/img/user/breadcrumb_arrow.gif) right no-repeat;
	margin-right:5px;
	padding-right:10px;
}
ul#breadcrumb li a:hover {
	color:#36C;
}
p#title {
	width:200px;
	float:left;
}
p#title a img {
	border:0;
}
h1 {
	float:right;
	color:#00911f;
	font-size:100%;
}
p#lastupdate {
	text-align:right;
	color:#ffa200;
	font-weight:700;
	font-size:9pt;
}
ul#mainmenu {
    background-color: #31C350;
    height: 50px;
    padding-left: 10px;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 15px;
    min-width: 920px;
}
ul#mainmenu li {
    background-color: #31C350;
    font-size: 15px;
    width: 16.6%;
    width: calc(100% / 6);
    height: 100%;
    position: relative;
    line-height: 50px;
    white-space: nowrap;
    border-right: 1px solid white;
    text-align: center;
    transition: .3s;
}

ul#mainmenu li:hover {
    background-color: #99e6aa;
}

ul#mainmenu li:first-child {
    border-left:  -1px solid white;
}
ul#mainmenu li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}
div#footer > ul {
    width: 40%;
    float: left;
}
div#footer > ul:first-child {
    padding-left: 10%;
}
div#footer > ul:last-child {
    padding-right: 10%;
}
div#footer li {
    color: #666;
}
div#footer > ul a {
    color: #666;
}
div#footer > ul a:hover {
    color: #F60;
}
p#copyright {
    text-align: center;
    padding: 15px 15px 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    border-top: 1px solid #cccccc;
}
div#pagetop a img {
    color: #686868;
    float: right;
    border: none;
}
.f_size {
	font-size:12px;
}
.sns {
	float:right;
	margin-right:10px;
	margin-bottom:10px;
}
#sns_shop {
	margin-top:60px;
}
#sns_shop, x:-moz-any-link {
margin-bottom:5px;
}
#sns_shop, #sns_shop:not(:target), * html #sns_shop {
margin-bottom:5px;
}
#search_top_bottom {
	text-align:right;
	margin-right:10px;
	margin-bottom:10px;
}
table, td, th {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

a:hover img.hover_01 {
	opacity:.6;
	filter:alpha(opacity=60);
	-ms-filter:"alpha( opacity=60 )";
	background:none!important;
}
#content_main_img {
	width: 288px;
	height: 236px;
	background: url(/images/top/main_image.jpg) no-repeat;
	padding: 14px 0 0 692px;
	margin-top: -27px;
}

#sectionLink {
	display: none;
}

#footer_sp {
	display: none;
}

.btn {
	width: 16em;
	margin: 0 auto 40px auto;
	text-align: center;
}

.btn a {
	display: block;
	text-decoration: none;
	background-color: #fb882d;
	color: #fff;
	padding: 10px;
}

.btn a:hover {
	text-decoration: none;
	background-color: #f77610;
	color: #fff;
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
	-webkit-transition: 0.3s ease-in-out;  
       -moz-transition: 0.3s ease-in-out;  
         -o-transition: 0.3s ease-in-out;  
            transition: 0.3s ease-in-out; 
}

.triangle {
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-top: 10px solid #fff;
	margin: 4px 0 0 10px;
	vertical-align: middle;
	display: inline-block;
}

.triangle:before {
	content:"";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}


/* common_new.css より */
body div#footer {
    border-top: 1px solid #ccc;
    background: #f8f8f8;
    line-height: 1.7;
    padding-top: 30px;
}
div#footer > ul {
    width: 40%;
    float: left;
}
div#footer > ul:first-child {
    padding-left: 10%;
}
div#footer > ul:last-child {
    padding-right: 10%;
}
div#footer li {
    color: #666;
}
div#footer > ul a {
    color: #666;
}
div#footer > ul a:hover {
    color: #F60;
}
p#copyright {
	text-align:center;
	padding:10px 15px 10px 0;
	font-family:Arial, Helvetica, sans-serif;
	clear:both;
	border-top:1px solid #cccccc;
	padding-top:15px;
}
div#pagetop a img {
	color:#686868;
	float:right;
	border:none;
}

/* footer PマークとSSL */
.pMarkSsl {
	width: 100%;
	overflow: hidden;
	margin: 2% 4% 2% 4%;
}

.pMarkSsl dt {
	float: left;
	width: 100px;
}

.sslBox {
	width: 130px !important;
	height: 65px !important;
}

.pMarkSsl dd {
	float: left;
    width: 620px;
    padding: 10px 0 0 20px;
	font-size: 11.5px;
}

#ssl_Area {
	height: 60px;
}

/* common_new.css より */


}






/*=======================
sp
=======================*/

@media screen and (max-width:667px){
.pc {
	display: none !important;
}
#header {
	display: none !important;
}
/*========================================================
共通設定
========================================================*/
html { font-size: 62.5%; }/*10px*/
body{
	width: 100%;
	font-size: 1.0rem;/*10px*/
	font-family: Verdana, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
    overflow: hidden!important;

}
#wrapper {
}
li,address,p{
	font-size: 1.4rem;/*14px*/
}
address{
	font-style: normal;
	text-align: left;
	background: #49A500;
	line-height: 20px;
	padding: 5px 15px;
	color: #FFF;
}
.clear{
	clear: both;
}

.marginTop2{
	margin-top: 2px;
}

.al-center{
	text-align:center;
}
a{
	color:#29ABE2;
}
/*========================================================
header
========================================================*/
#header_sp{
	width: 100%;
	border-bottom: 5px solid #49A500;
}
#top{
	height: 18px;
	width: 100%;
}
#top p{
	padding-left: 5px; 
	line-height: 18px;
	color: #000;
	font-size: 1.0rem;
}
#header_in{
	background: url(../images/common/header_bg.jpg) repeat-x;
	height: 50px;
}
#header_left{
	float: left;
	width: 140px;
	height: 22px;
	margin: 16px 0px 0px 5px;
}
#header_right{
	float: right;
	width: 175px;
	height: 40px;
	padding-top: 10px;
	background: url(../images/common/car_icon.png) left bottom no-repeat;
}
#header_right p{
	text-align: right;
	margin: -5px 5px 0px 0px;
}
#main_imgTop{
	background: #49A500;
	margin: -2px 0;
}
#main_imgTop p{
	text-align: center;
}

.breadcrumb_list{
	height:20px;
	background:#49A500;
	color:#fff;
	padding-bottom:5px;
	padding-left:10px;
}
.breadcrumb_list a{
	text-decoration: none;
	color: #FFF;
}
.breadcrumb_list a:hover{
	text-decoration: underline;
}

/* mVisual
------------------*/
#mVisual {
	width: 100%;
	max-width: 667px;
	margin: 0 auto 5% auto;
	background: #fff url(../images/ttlBg.png) repeat-x 0 50%;
	text-align: center;
	padding: 5% 0;
}

#mVisual img {
	width: 100%;
}

#mVisual h2 {
	width: 75%;
	margin: 0 auto 3% auto;
	border-bottom: 2px solid #000;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

#mVisual h2 span a {
	display: inline-block;
	margin: 0 0 0 10px;
}

#mVisual p {
	width: 20%;
	margin: 0 auto 6px auto;
}
.mCarImg {
	width: 80% !important;
}

#h3slct {
	font-size: 1.8rem;
	text-align: center;
	font-weight: 100;
	margin: 0 auto 4% auto;
}

#h3slct span {
	font-weight: 900;
}

/* cntsCost
------------------*/
#cntsCost {
	width: 92%;
	margin: 0 auto 2% auto;
	padding: 0 4%;
	overflow: hidden;
	color: #000;
}

#cntsCost h4 {
	font-size: 1.6rem;
	margin: 0 auto 2% auto;
	padding: 0;
	text-align: center;
}

#cntsCost p {
	width: 100%;
	text-indent: 1em;
	text-align: justify;
	text-justify: inter-ideograph;
	word-break: break-all;
	font-size: 1.5rem;
}
table, td, th {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
#cntsCost table {
	width: 100%;
	margin: 4% auto;
	padding: 0;
	text-align: center;
}

#cntsCost table th {
	font-weight: normal;
	background-color: #4d4d4d;
	color: #fff;
	font-size: 1.2rem;
	padding: 0.5em 0;
}

#cntsCost table td {
	color: #000;
	font-size: 1.2rem;
	padding: 0.5em  0;
}

#cntsCost table td.total {
	font-size: 1.4rem;
	font-weight: bold;
}

/* cntsKnack
------------------*/
#cntsKnack {
	width: 96%;
	margin: 0 auto 4% auto;
}

#cntsKnack h4 {
	font-size: 1.6rem;
	color: #000;
	margin: 0 auto 2% auto;
	text-align: center;
}

#cntsKnack ul {
	width: 100%;
	overflow: hidden;
}

#cntsKnack ul li {
	margin: 0 auto 4% auto;
	border: 8px solid #6b1685;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	position: relative;
	padding: 4%;
}

#cntsKnack ul li p.number{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	background: #6b1685;
	color: #fff;
	text-align: center;
	padding: 0.3em 0.3em;
	font-family: 'Old Standard TT', serif !important;
} 

#cntsKnack ul li h5 {
	font-size: 1.4rem;
	color: #6b1685;
	margin: 0 0 2% 0;
	padding: 0;
	text-align:center;
}

#cntsKnack ul li p.nmrTxt {
	font-size: 1.5rem;
	line-height: 1.9;
	text-indent: 1em;
	text-align: justify;
	text-justify: inter-ideograph;
	word-break: break-all;
}

/* cntsPnt
------------------*/
#cntsPnt {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

#cntsPnt h4 {
	font-size: 1.6rem;
	margin: 0 auto 2% auto;
	padding: 0;
	text-align: center;
}

#cntsPnt ul {
	width: 100%;
	overflow: hidden;
/*	border-bottom: 30px solid #ccc;*/
}

#cntsPnt ul li {
	width: 100%;
	margin: 0;
	position: relative;
}

#cntsPnt ul li.odd {
	background-color: #ccc;
	padding: 5%;
	box-sizing: border-box;
}

#cntsPnt ul li.odd span,
#cntsPnt ul li.even span {
	display: block;
	position: absolute;
	font-size: 360%;
}

#cntsPnt ul li.odd span {
	/*display: none;*/
	right: 15px;
	top: 10px;
	color: #666;
	opacity:0.3;
}

#cntsPnt ul li div {
	width: 100%;
	background-color: #fff;
	margin: 0 auto;
	padding: 6% 0;
}

#cntsPnt ul li div h5 {
	font-size: 1.4rem;
	margin: 0 auto 10px auto;
	text-align: center;
}

#cntsPnt ul li div p {
	padding: 0 6%;
	font-size: 1.2rem;
	color: #000;
	text-indent: 1em;
	text-align: justify;
	text-justify: inter-ideograph;
}

#cntsPnt ul li.even {
	width: 100%;
	background-color: #fff;
}

#cntsPnt ul li.even span {
	/*display: none;*/
	left: 10px;
	top: -15px;
	color: #ccc;
}

#cntsPnt h2 {
	text-align: center;
	margin: 2% auto;
	background: url(../images/arrowDown.png) no-repeat 50% 90%;
	background-size: 100% auto;
	font-size: 1.8rem;
	color: #FFF;
	padding: 4% 0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

/* areaSelect
------------------*/
#areaSelect {
	width: 96%;
	margin: 0 auto 4% auto;
	padding: 0;
	overflow: hidden;
}

#areaSelect h4 {
	font-size: 1.6rem;
	margin: 0 auto;
}

#areaSelect h4:before {
	content:url(../images/icon_jpMap.png);
	width: 22px;
	margin: 0 5px 0 0;
}

#areaSelect dl {
	width: 100%;
	overflow: hidden;
	margin: 0 auto 4% auto;
}

#areaSelect dt {
	clear: both;
	background: #45a949;
	width: 100%;
	height: 28px;
	font-size: 1.4rem;
	text-align: center;
	padding: 0;
	line-height: 28px;
	color: #fff;
	margin: 0 0 2% 0;
}

#areaSelect dd {
	float: left;
	width: 4em;
	text-align: center;
	margin: 0 1% 2% 0;
	border: 1px solid #4d4d4d;
	line-height: 44px;
	font-size: 1.1rem;
	font-weight: normal;
}

#areaSelect dd a {
	display: block;
	text-decoration: none;
	color: #4d4d4d;
	background: #fff;
}


/* drawer
------------------*/
.drawer-menu {
	width: 90%;
	float: right;
	text-align: left;
	padding: 20px 0 !important;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.drawer-menu p {
	width: 100%;
	overflow: hidden;
	font-size: 115%;
	line-height: 1.2;
}
.drawer-menu p img {
	float: left;
	margin: 0 10px 0 0;
	line-height: 1.3;
}
.drawer-menu ul {
	margin: 20px 0 0 0;
	overflow: hidden;
}

.drawer-menu ul li {
	width: 100%;
	border-bottom: 1px solid #000000;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	margin: 0 0 15px 0;
	padding: 0 0 3px 0;
}

.drawer-menu ul li:before {
	content:url(../images/arrow_02.png);
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0 0 3px 0;
}

.drawer-menu ul li img {
	vertical-align: bottom;
	margin: 0 0 0 10px;
	text-align: right;
}

.drawer-menu ul li a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

.drawer-menu ul li a:hover {
	text-decoration: underline;
}

.drawer-menu ul li a span {
	font-size: 86%;
}


/*--------------------------------------*/
/*--------------commonより--------------*/
/*--------------------------------------*/
.title03 h3 {
	color: #492300;
	font-size: 1.6rem;
	margin-left: 10px;
}
.title03{
	width: 100%;
	padding: 10px 0px;
	/*ここで背景のベースカラーを指定する*/
	background-color: #F9F0E8;
	/*ここでCSS3のグラデーションをつかってストライプのパターン・色を指定する
	（※色を変える場合は#fffffffの部分を変更）*/
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F7E4D7), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F7E4D7),color-stop(.75, #F7E4D7), color-stop(.75, transparent),to(transparent));
	/*ここでパターンの大きさを指定する
	（※数字によってはストライプのグラデーションがずれるので注意）*/
	-webkit-background-size: 15px 15px;
}
.about_us ul{
    display:table;
    table-layout: fixed;
    width:100%;
}
.about_us_left{
	border-left: 1px solid #E2C8B5;
}
.about_us li{
	border-bottom: 1px solid #E2C8B5;
    display:table-cell;
    text-align:left;
	padding-left: 10px;
	line-height: 50px;
	background: url(../images/common/arrow_info.png) no-repeat center right #FCF8F5;
	-webkit-background-size: 11px 10px;
}
.about_us li a{
    display:block;
	text-decoration: none;
	color: #000;
}

#about_us img{
	border-bottom: 1px solid #c1c4ae;
}

#footer_pc li{
	width: 100%;
	padding: 10px 0px;
	vertical-align: middle;
	background: url(../images/common/arrow_info.png) no-repeat center right;
	-webkit-background-size: 11px 10px;
}
#footer_pc a{
	display: block;
	width: 100%;
	text-decoration: none;
}
#footer_pc img{
	margin-left: 10px;
}
/*PC表示ボタン*/
button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #020b0f;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#e6e6e6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#e6e6e6));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #a6a6a6;
	-moz-box-shadow:
		0px 0px 0px rgba(255,255,255,0),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 0px 0px rgba(255,255,255,0),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 0px 0px rgba(255,255,255,0),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(020,020,020,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.btn {
	width: 100%;
	margin: 0 auto 10% auto;
	text-align: center;
}

.btn a {
	display: block;
	text-decoration: none;
	background-color: #fb882d;
	color: #fff;
	height: 50px;
	line-height: 50px;
	width: 80%;
	margin: 0 auto;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.btn a:hover {
	text-decoration: none;
	background-color: #f77610;
	color: #fff;
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
	-webkit-transition: 0.3s ease-in-out;  
       -moz-transition: 0.3s ease-in-out;  
         -o-transition: 0.3s ease-in-out;  
            transition: 0.3s ease-in-out; 
}

.triangle {
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-top: 10px solid #fff;
	margin: 4px 0 0 10px;
	vertical-align: middle;
	display: inline-block;
}

.triangle:before {
	content:"";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}


/* style.cssより */
/*========================================================
共通設定
========================================================*/
/*html { font-size: 62.5%; }
body{
	width: 100%;
	background-color: #DEEFA8; コメントアウト
	font-size: 1.0rem;
	font-family: Verdana, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
#wrapper{
	margin: 0 auto;
	background: #FFF;
}
li,address,p{
	font-size: 1.4rem;
}
address{
	font-style: normal;
	text-align: left;
	background: #49A500;
	line-height: 20px;
	padding: 5px 15px;
	color: #FFF;
}
.clear{
	clear: both;
}

.marginTop2{
	margin-top: 2px;
}

.al-center{
	text-align:center;
}
a{
	color:#29ABE2;
}*/

/*========================================================
フリーワード検索（トップページ）
========================================================*/
#free_box{
	background: #FCFFF0;
	width: 100%;
	margin-top: -2px;
}
#free_search input{
	float: left;
}
button.css3button_free {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 6px 10px;
	width: 18%;
	float: right;
	vertical-align:middle;
	margin-top: 10px;
	margin-right: 10px;
	background: -moz-linear-gradient(
		top,
		#ffbc47 0%,
		#ff7700);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffbc47),
		to(#ff7700));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

/*========================================================
タイトル
========================================================*/
/*トップページ車検検索タイトル*/
.title_search{
	width: 100%;
	padding: 10px 0px;
	margin-top: -3px;
	/*ここで背景のベースカラーを指定する*/
	background-color: #F9F0E8;
	/*ここでCSS3のグラデーションをつかってストライプのパターン・色を指定する
	（※色を変える場合は#fffffffの部分を変更）*/
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F7E4D7), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F7E4D7),color-stop(.75, #F7E4D7), color-stop(.75, transparent),to(transparent));
	/*ここでパターンの大きさを指定する
	（※数字によってはストライプのグラデーションがずれるので注意）*/
	-webkit-background-size: 15px 15px;
}
.title_search img,
.title01 img,
.title02 img,
.title03 img,
.title img{
	padding-right: 5px;
}
.title_search h3,
.title01 h3,
.title02 h3,
.title03 h3,
.title h3{
	color: #492300;
	font-size: 1.6rem;
	margin-left: 10px;
}
/*各タイトル*/
.title01{
	width: 100%;
	padding: 10px 0px;
	/*ここで背景のベースカラーを指定する*/
	background-color: #F8FFD9;
	/*ここでCSS3のグラデーションをつかってストライプのパターン・色を指定する
	（※色を変える場合は#fffffffの部分を変更）*/
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #DEEAB5), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #DEEAB5),color-stop(.75, #DEEAB5), color-stop(.75, transparent),to(transparent));
	/*ここでパターンの大きさを指定する
	（※数字によってはストライプのグラデーションがずれるので注意）*/
	-webkit-background-size: 15px 15px;
}
.title02{
	width: 100%;
	padding: 10px 0px;
	/*ここで背景のベースカラーを指定する*/
	background-color: #F8FFD9;
	/*ここでCSS3のグラデーションをつかってストライプのパターン・色を指定する
	（※色を変える場合は#fffffffの部分を変更）*/
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #D8E2B0), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #D8E2B0),color-stop(.75, #D8E2B0), color-stop(.75, transparent),to(transparent));
	/*ここでパターンの大きさを指定する
	（※数字によってはストライプのグラデーションがずれるので注意）*/
	-webkit-background-size: 15px 15px;
}
.title03{
	width: 100%;
	padding: 10px 0px;
	/*ここで背景のベースカラーを指定する*/
	background-color: #F9F0E8;
	/*ここでCSS3のグラデーションをつかってストライプのパターン・色を指定する
	（※色を変える場合は#fffffffの部分を変更）*/
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F7E4D7), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F7E4D7),color-stop(.75, #F7E4D7), color-stop(.75, transparent),to(transparent));
	/*ここでパターンの大きさを指定する
	（※数字によってはストライプのグラデーションがずれるので注意）*/
	-webkit-background-size: 15px 15px;
}
.title{
	width: 100%;
	padding: 10px 0px;
	/*ここで背景のベースカラーを指定する*/
	background-color: #D8B498;
	/*ここでCSS3のグラデーションをつかってストライプのパターン・色を指定する
	（※色を変える場合は#fffffffの部分を変更）*/
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #EACFB5), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #EACFB5),color-stop(.75, #EACFB5), color-stop(.75, transparent),to(transparent));
	/*ここでパターンの大きさを指定する
	（※数字によってはストライプのグラデーションがずれるので注意）*/
	-webkit-background-size: 15px 15px;
}

/*========================================================
お役立ちコンテンツ
========================================================*/
#oyakudachi table{
	width: 100%;
}
#oyakudachi h4{
	font-size: 1.4rem;
	padding: 3px 0px;
}
#oyakudachi img{
	border: 1px solid #CCC;
}
#oyakudachi th,
#oyakudachi td{
	padding: 5px;
	border-bottom: 1px dotted #8FC31F;
	vertical-align: middle;
}
#oyakudachi th{
	width: 110px;
}
#oyakudachi td{
	width: 100%;
	padding-right: 18px;
	line-height: 15px;
	background: url(../../../sp/images/common/arrow.png) right center no-repeat;
	-webkit-background-size: 11px 10px;
}
#oyakudachi td a{
	text-decoration: none;
	color: 000;
	display: block;
}
#oyakudachi td a:visited{
	text-decoration: none;
	color: 000;
}
.link_list{
	width: 100%;
}
.link_list img{
	float: right;
	margin-top: 18px;
}
.link_list li{
	height: 50px;
	line-height: 50px;
	padding: 0px 6px 0px 10px;
	border-bottom: 1px solid #c1c4ae;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FCEDDE 0%, #EFD9C7 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FCEDDE 0%, #EFD9C7 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FCEDDE 0%, #EFD9C7 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FCEDDE), color-stop(1, #EFD9C7));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FCEDDE 0%, #EFD9C7 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FCEDDE 0%, #EFD9C7 100%);
}
.link_list a{
	display: block;
	width: 100%;
	text-decoration: none;
	color: #333;
}
.text_box{
	line-height: 25px;
	height: 25px;
	width: 72%;
	margin: 10px 5px 0px 5px;
    border:1px solid;
    border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}
#info_tokoton td{
	padding: 1px;
}
.about_us ul{
    display:table;
    table-layout: fixed;
    width:100%;
}
.about_us_left{
	border-left: 1px solid #E2C8B5;
}
.about_us li{
	border-bottom: 1px solid #E2C8B5;
    display:table-cell;
    text-align:left;
	padding-left: 10px;
	line-height: 50px;
	background: url(../images/common/arrow_info.png) no-repeat center right #FCF8F5;
	-webkit-background-size: 11px 10px;
}
.about_us li a{
    display:block;
	text-decoration: none;
	color: #000;
}

#about_us img{
	border-bottom: 1px solid #c1c4ae;
}

/*========================================================
サイドバー
========================================================*/
#modal {display: none; }
#modal h2{
    font-size:16px;
    border-bottom:1px solid #492300;
}
#modal h2,
#modal ul li a{
    padding:10px 0;
}
#modal li{
	list-style: none;
}
#modal h2 a{
	color: #0FF;
}
#modal ul{
    margin-bottom:20px;
}
#modal ul li a{
    border-bottom:1px dashed #6f6f6f;
	text-decoration: none;
    display:block;
	color:#000;
}
#modal ul li{
	background: url(../images/common/arrow_green.png) no-repeat center right;
	-webkit-background-size: 11px 10px;
}
.close{
    font-weight:bold;
	text-align: right;
}
.close a{
    color:#492300;
    padding:3px 10px;
    background:#DEEFA8;
}



.btn_submit {
	width:70%;
	margin:5% auto 5%;
	color: #FFF;
	background-color: #F90;
	text-align: center;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 1px 2px black;
	-webkit-box-shadow: 0 1px 2px black;
	background: -moz-linear-gradient(center top , #FEBB62, #FFD09A 50%, #FEAA50 51%, #F78D05) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#FEBB62), color-stop(0.5, #FFD09A),  color-stop(0.51, #FEAA50),to(#F78D05));
	border-color: #8EC7EE #359AE3 #359AE3;
	border-right: 1px solid #359AE3;
	border-style: solid;
	text-align: center;
	vertical-align: middle;
	display: block;
	font-size: 100%;
	font-weight: bold;
	overflow: hidden;
	text-decoration: none;
	text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.25);
	line-height:4.5em;
}

div.cont_h3 {
	margin-top:1em;
	margin-bottom:0.5em;
	width:97%;
	background: -moz-linear-gradient(top, #FFFFFF, #F6F6F6 95%, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(0.9, #F0F0F0), to(#FFFFFF));
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #EEEEEE;
	vertical-align: middle;
	line-height:3.5em;
	padding-left:3%;
	clear: both;
}

div.cont_h3 h3 {
	text-align:left;
	vertical-align: middle;
	line-height:2em;
}
.cont_h3 a{
	text-decoration: none;
}

div.cont_h3 h3 img {
	margin-top: 0.7em;
}

.textBox{
	margin: 0 auto;
	padding: 5px;
	line-height: 20px;
}


button{
	background: none;
	border: none;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}


/* pageslide.cssより　*/
#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    top: 0;
    z-index: 999999;
    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 20px;
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #F6FFD2;
    color: #492300;
    -webkit-box-shadow: inset 0 0 5px 5px #EA7500;
    -moz-shadow: inset 0 0 5px 5px #EA7500;
    box-shadow: inset 0 0 5px 5px #DEEFA8;
}



}
#wrapper {
    overflow: hidden;
}
